NEXT_PUBLIC_AUTH_GATE_API="https://authgate.one/ag-dev/api/v1"
NEXT_PUBLIC_CAPT_KEY="ecfd0682-1090-4f8b-884d-174d85de993d"
NEXT_PUBLIC_APP_CODE="TXL"
NEXT_PUBLIC_LANGUAGE='vn'
NEXT_PUBLIC_ROUTER='https://light.traxem.vn/admin'
NEXT_OUTPUT_MODE="export"
