# NEXT_PUBLIC_AUTH_GATE_API="https://authgate.one/ag/api/v1"
# NEXT_PUBLIC_CAPT_KEY="6f0df774-96f8-44f0-904c-7f96762e724b"
# NEXT_PUBLIC_APP_CODE="TXL"
# NEXT_PUBLIC_LANGUAGE="vn"
# NEXT_PUBLIC_ROUTER="https://light.traxem.vn/admin"
# NEXT_OUTPUT_MODE="export"
